<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur10" >

  <!-- common stuff -->
  <xacro:include filename="$(find shallow_depth_insertion)/urdf/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find shallow_depth_insertion)/urdf/ur10.urdf.xacro" />

  <!-- gripper -->
  <xacro:include filename="$(find shallow_depth_insertion)/urdf/robotiq_arg2f_140_model/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:robotiq_arg2f_140 prefix=""/>

  <!-- ft sensor -->
  <xacro:include filename="$(find shallow_depth_insertion)/urdf/robotiq_ft_sensor/robotiq_ft300.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="" joint_limited="true"
		 shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
		 shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
		 elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
		 wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
		 wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
		 wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:robotiq_ft300 parent="ee_link" prefix="">
		<origin xyz="-0.01 0.0 0.0" rpy="3.14159265359 -1.57079632679 0.0"/> 
	</xacro:robotiq_ft300>

  <joint name="gripper2sensor" type="fixed">
    <parent link="robotiq_ft_frame_id" />
    <child link = "robotiq_arg2f_base_link" />
    <origin xyz="0.0 0.0 -0.0065" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- environment -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <link name="robot_platform">
    <visual>
      <geometry>
        <box size="0.25 0.25 0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.01"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="robot_to_robot_platform" type="fixed">
    <parent link="base_link"/>
    <child link="robot_platform"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="table">
    <visual>
      <geometry>
        <box size="1.8 2.4 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.64 -0.94 -0.05"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="robot_platform_to_table" type="fixed">
    <parent link="robot_platform"/>
    <child link="table"/>
    <origin xyz="0 0 -0.02"/>
  </joint>

</robot>
