<launch>
    <node pkg="tf" type="static_transform_publisher" name="eelink2camera" args="0.015616 0.11888 -0.063739 0.7141828 0.0545246 0.6955231 0.0567247 ee_link camera  100"/>
    <node name="aruco_pub" pkg="shallow_depth_insertion" type="ArucoPose_publisher" required="true" output="screen"/>
    <node name="aruco_tf" pkg="shallow_depth_insertion" type="ArucoTF_broadcaster" required="true" output="log" />
</launch>


