<?xml version="1.0"?>

<launch>
    <!-- Startup ur10.launch with arg "limited" -->
    <include file="$(find ur_gazebo)/launch/ur10.launch">
        <arg name="limited" value="false"/>
    </include>
    <!-- Startup ur10_moveit_planning_execution.launch with args: sim:=true and limited:=true -->
    <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
        <arg name="limited" value="false"/>
    </include>
    <!-- Startup moveit_rviz.launch with arg: config:=true -->
    <include file="$(find ur10_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>
</launch>


